<mat-toolbar color="primary">
  <span class="title-center">NavEx - Net Asset Value Extractor</span>
</mat-toolbar>

<form class="example-form" (ngSubmit)="submit()">
  <mat-card>
    <mat-form-field appearance="outline" class="input-text">
      <mat-label>Copy and Paste Article Here</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="20" [(ngModel)]="article" [ngModelOptions]="{standalone: true}"></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>*This model is trained and may only work for specific articles received by Credit Officers.</mat-hint>
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" class="submit-button">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>